.favorit {
    margin-top: 119px;
    margin-bottom: 119px;
}

.favorit_cont {
    text-align: center;
}

.type_favorit {
    @include flex (row, center, center, nowrap);
    margin-top: 32px;
    padding-bottom: 13px;
    border-bottom: 1px solid $color_text_spec_first;
    a {
        font-size: 16px;
        letter-spacing: 2px;
        text-transform: uppercase;
        padding: 12px 30px;
        margin: 0px 36px;
        color:$color_text_main;
        &:hover,
         :focus,
         :active {
             font-weight: bold;
             border-bottom: 2px solid $color_text_main;
         }
    }
}

.favorit_box {
  @include flex (row, center, center, nowrap);
  margin-top: 34px;
}

.favorit_cart {
    @include flex (column, flex-start, center, nowrap);
    position: relative;
    &:hover .favorit_cart_btn,
     :focus .favorit_cart_btn,
     :active .favorit_cart_btn {
         transition: all .5s ease-out;
         opacity: 1;
     }
}

.favorit_cart_btn {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    opacity: 0;
    .btn {
        width: 70%;
        margin: 6px auto;
      }
  }

.favorit_cart_info {
    width: 100%;
    text-align: left;
    padding: 17px 30px;
    h4 {
      border-bottom: 1px solid $color_text_spec_first;
      padding-bottom: 10px;
      font-size: 22px;
    }
    .favorit_cart_spec {
      @include flex (row, flex-start, center, nowrap);
      margin-top: 11px;
        span {
           margin-left: 12px;
           font-size: 14px;
        }
    }
}

.favorit_cart:nth-child(2){
  margin: 0px 24px;
}

.favorit_fon {
    background-image: url(../img/favorit_fon.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 542px;
}


@media (max-width: $pc){
  .favorit_cart_info {
      padding: 17px 20px;
      h4 {
        font-size: 18px;
      }
      .favorit_cart_spec {
          span {
             font-size: 10px;
          }
          img {
            width: 25px;
            height: 25px;
          }
      }
  }
  .favorit_cart:nth-child(2){
    margin: 0px 18px;
  }
  .favorit_fon {
      height: 500px;
  }
}

@media (max-width: $notebook){
  .favorit_cart_info {
      padding: 17px 20px;
      h4 {
        font-size: 14px;
      }
      .favorit_cart_spec {
          span {
             font-size: 9px;
          }
          img {
            width: 20px;
            height: 20px;
          }
      }
  }

  .favorit_cart:nth-child(2){
    margin: 0px 10px;
  }

  .favorit_fon {
      height: 400px;
  }

}


@media (max-width: $tablet) {
  .favorit_box {
    @include flex (column, center, center, nowrap);
    margin-top: 34px;
  }

  .favorit_cart {
    margin-bottom: 25px;
  }

  .favorit_cart:nth-child(2){
    margin: 0px 0px 25px 0px;
  }

  .favorit_cart_info {
      padding: 17px 30px;
      h4 {
        font-size: 22px;
      }
      .favorit_cart_spec {
          span {
             margin-left: 12px;
             font-size: 14px;
          }
      }
  }

  .type_favorit {
      a {
          font-size: 14px;
          padding: 12px 15px;
          margin: 0px 10px;
        }
  }

  .favorit_fon {
      height: 350px;
  }

}

@media (max-width: $mobile) {
  .type_favorit {
      a {
          font-size: 12px;
          padding: 12px 5px;
          margin: 0px 5px;
        }
  }
  .favorit_cart_info {
      padding: 17px 10px;
      h4 {
        padding-bottom: 10px;
        font-size: 20px;
      }
      .favorit_cart_spec {
          span {
             margin-left: 12px;
             font-size: 14px;
          }
      }
    }

    .favorit_fon {
        height: 200px;
    }
}
