footer {
   background: $color_text_main;
   color:$color_spec_first;
   padding: 72px 0px 60px;
}

.footer_block1 {
  @include flex (row, space-between, top, nowrap);
}

.footer_box {
    color:$color_spec_first;
    h4 {
      text-transform: uppercase;
      font-size: 14px;
      margin-bottom: 21px;
      letter-spacing: 2px;
    }
    li {
      padding-bottom: 16px;
    }
    a {
      color:$color_spec_first;
      font-size: 12px;
      line-height: 12px;
      letter-spacing: 0.5px;
      font-weight: 300;
    }
    p {
      font-size: 12px;
      line-height: 18px;
      letter-spacing: 0.5px;
      width: 294px;
      font-weight: 300;
    }
}

.footer_box:nth-child(2) {
  margin: 0px 15px;
}

.footer_box2 {
  margin-top: 85px;
}

.footer_block3 {
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.5px;
  margin-top: 100px;
}


@media (max-width: $mobile){
  .footer_block1 {
    @include flex (column, center, top, nowrap);
  }

  .footer_box {
      h4 {
        margin-top: 30px;
      }
    }

  .footer_box:nth-child(2) {
    margin: 0px 0px;
  }
}
