$color_text_main: #212A2F;
$color_spec_first: #fff;

$color_text_spec: #b37755;
$color_text_spec_first: #D3D4D5;



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
  }
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
}

h2 {
    font-size: 32px;
    font-weight: bold;
}

.btn {
    display: inline-block;
    color: $color_text_main;
    background: $color_spec_first;
    padding: 17px 32px;
    border-radius: 2px;
    text-transform: uppercase;
    transition: all .3s ease-out;
    font-size: 14px;
    &:hover,
     :focus,
     :active {
         background: $color_text_main;
         color: $color_spec_first;
     }
}

@mixin flex ($fd, $jc, $ai, $fw) {
    display: flex;
    flex-direction: $fd;
    justify-content: $jc;
    align-items: $ai;
    flex-wrap: $fw;
}
