h2 {
    font-size: 32px;
    font-weight: bold;
}

.btn {
    display: inline-block;
    padding: 17px 32px;
    border-radius: 2px;
    text-transform: uppercase;
    transition: all .3s ease-out;
    font-size: 14px;
}

.btn_white {
  color: $color_text_main;
  background: $color_spec_first;
  &:hover,
   :focus,
   :active {
       background: $color_text_main;
       color: $color_spec_first;
   }
}

.btn_black {
    color: $color_spec_first;
    background: $color_text_main;
    margin: 0px 12px 100px 0px;
    &:hover,
     :focus,
     :active {
       background: $color_text_spec;
     }
}

.cont_top {
    text-align: center;
    padding-top: 50px;
    h2 {
        font-size: 32px;
        font-weight: bold;
        padding-bottom: 22px;
    }
    p {
      font-size: 16px;
      padding-bottom: 26px;
    }
}

.bg_fon {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 542px;
  margin-top: 140px;
}

.favorit_fon {
    background-image: url(../img/favorit_fon.jpg);
}
.season_fon {
    background-image: url(../img/seadons_fon.jpg);
}
.arrivals_fon {
  background-image: url(../img/arrivals_fon.jpg);
}
